
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

*{
	--theme-color-1: #4D224C;
	--max-width:65vw;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	
}




/* hero image style */


.hero-image{
	display: flex;
	width: 100vw;
	position: relative;
}

.hero-image_wrapper{
	display: block;
}

.main_image{
	display: flex;
	justify-content: center;
}

.main_hero_image{
	height: 600px;
	width: 100%;
	object-fit: cover;

}

.tech-text-wrapper{
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: none;
}

.tech-text{
	width: var(--max-width);
	position: absolute;
	top: 0;
	margin-top: 200px;
}

.heading{
	font-weight: 600;
}



.body-text{
	color: rgb(255, 255, 255);
	font-size: 18px;
	max-width: 840px;
	margin-top: 25px;
	line-height: 1.67;
}


.hero-btn{
margin-top: 40px;
margin-left: -950px;
}

.hero-btn-link{
	text-decoration: none;
	text-align: center;
	color: white;

}