@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

*{
	--theme-color-1: #4D224C;
	--section-color-1: #f3f3f3;
	--bodyText-color-1: #707070;
	--max-width:65vw;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}



h1{
	color: rgb(255, 255, 255);
	font-size: 40px;
	line-height: 1.25;
}

h2{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.33;
	margin-bottom: 20px;
}


h3{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.33;
}



.tech-grid-box{
	display: flex;
	justify-content: center;
	align-items: left;
	padding-top: 100px;
	width: 100vw;
	background-color: var(--section-color-1);
}

.tech-grid-box-container{
	width: var(--max-width);
	display: flex;
}


.tech-grid-box-wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 200px;
	grid-row-gap: 20px;
}


.item-1{
	height: 350px;
	width: 400px;
}



.tech-grid-box-item-title{
	padding-left: 40px;
	margin-bottom: 20px;
	border-left: 4px solid var(--theme-color-1);
}




.tech-grid-box-item-body{
	color: var(--bodyText-color-1);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.9;
	text-align: left;
	
}




/* mini contact us section */
.mini_contact_section{
	width: 100vw;
	display: flex;
}


.mini_contact_section_container{
	display: flex;
	justify-content: left;
	align-items: center;
	width: var(--max-width);
	margin: auto;
}


.mini_contact_section_wrapper{
	display: flex;
	justify-content: space-between;

}




/* who we are section style */

.about-body{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 70px 0;
	padding-bottom: 50px;
}

.about-body-wrapper{
	width: var(--max-width);
}

 

.about-us{
	display: block;
	width: 900px;
	margin: auto;
}



.about-us-title{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	line-height: 1.33;
	margin-bottom: 20px;
}

/* .about-us-body{
	font-size: 18px;
	font-weight: 300;
	line-height: 1.9;
	text-align: center;
	color: rgba(50,50,50,.7);
	width: 90%;
	margin: auto;
} */



.clients-logos{
	background-size: cover;
	height: 400px;
	margin: 50px auto;
}

.client-logoo{
	height: 100%;
	width: 100%;
	object-fit: contain;
	margin: auto;
}

.contact-btn{
	text-align: center;
	text-decoration: none;
	margin: 0 auto;

}

.contact-btn .cont{
	font-size: 13px;
	font-weight: 600;
	position: relative;
	text-decoration: none;
	border: 2px solid;
	color: var(--theme-color-1);
	padding: 10px;
	padding-right: 35px;
	padding-left: 10px;
	width: 1000px;
}

.cont:after{
	position: absolute;
	content: "";
	border-right: 2px solid;
	border-top: 2px solid;
	padding: 4px;
	margin: 5px;
	transform: rotate(45deg);
}

.cont:hover{
	color: #fff;
	border-color: var(--theme-color-1);
	background-color: var(--theme-color-1);
	transition: 0.35s all ease;
}